
.daily-list {
}

.daily-item {
  margin-top: 10px;
}

.day-block {
  margin-top: 15px;

  &::first-child {
    margin-top: 0;
  }

  .day-title {
    text-transform: uppercase;
    font-weight: bold;
  }
}

.header-title {
  margin-top: 30px;
  margin-bottom: 0;
}
