@import 'variables';

$gray01: #fbfbfb;

h1, h2, h3, h4, h5, h6 {
  margin: $gutter 0;
}

p {
  margin-bottom: 5px;
}

.__hidden {
  display: none !important;
}

.title-label {
  margin-top: 0;
  line-height: $line-height;
}

.loader-wrapper {
  position: fixed;
  top: 60px;
  left: 15px;
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  cursor: default;
  background-color: $gray01;
}

fieldset[disabled] input[type=checkbox],
fieldset[disabled] input[type=radio],
input[type=checkbox].disabled,
input[type=checkbox][disabled],
input[type=radio].disabled,
input[type=radio][disabled] {
  cursor: default;
  background-color: $gray01;
}

.input-group-addon {
  background-color: $gray01;
}
