.media-object {
  background-color: whitesmoke;
  width: 45px;
  height: 45px;
  border-radius: 4px;
  border: 0;
}

.label {
  margin-right: 4px;
}

.member-list {
  margin-top: 1rem;
}

.media-body {
  h5 {
    margin-top: 0;
  }
}
